@charset "utf-8";

nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 4%;
}

.left-nav {
  background-color: #374150;
  color: #fff;
  padding: 10px 15px;
  font-size: 25px;
}

.right-nav {
  font-size: 19px;
}

.right-nav ul {
  display: flex;
  gap: 40px;
}

li {
  float: left;
}

.prof-img1 {
  background-image: url(../image/1920x1280.png);
  background-size: cover;
  width: 100vw;
  height: 600px;
  background-position: center;
}

section {
  margin: 100px 0;
}

.center {
  text-align: center;
}

h1 {
  font-size: 30px;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 7px;
  margin-bottom: 60px;
  color: #1e2843;
}

.sub-contents1 {
  display: flex;
  gap: 40px;
  justify-content: center;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

p {
  line-height: 1.5em;
  margin-bottom: 15px;
  font-size: 19px;
}

.prof-img2 {
  border-radius: 50%;
  width: 75%;
}

.sub-contents2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
}

.prof-img3 {
  width: 100%;
}

footer {
  padding-bottom: 10px;
  margin: 20px 0;
  border-bottom: 1px solid #000;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

/*スマートフォン用の設定 モバイルファーストにするのを忘れました*/
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .left-nav {
    font-size: 35px;
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin-left: 30px;
  }

  .right-nav {
    font-size: 20px;
    margin-right: 30px;
  }

  .sub-contents1 {
    flex-direction: column;
  }

  h1 {
    font-size: 40px;
  }

  .sub-contents1 h2 {
    margin: 0 0 15px 0;
  }

  .sub-contents1 p {
    margin-bottom: 10px;
  }

  .prof-img2 {
    width: 30%;
  }

  .sub-contents2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  footer {
    border-bottom: 10px solid #000;
  }
}
